<div class="modal">
    <div class="modal-general">
        <div class="modal-content">
            <div class="modal-header">
                <p>Crear nueva planta</p>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="contenedor-acciones">
                        <div class="create-plant">
                            <label for="name">Nombre Planta</label>
                            <input type="text" id="name" placeholder="Ingrese nombre" formControlName="name">
                        </div>
                        <div class="pais">
                            <label for="country">Pais</label>
                            <select id="country" formControlName="country">
                                <option value="" disabled selected>Seleccione país</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Paraguay">Paraguay</option>
                            </select>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn-cancelar" (click)="closeModalCreate()">Cancelar</button>
                        <button class="btn-crear" type="submit">Crear</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>