.contenedor-principal {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: #f5f9ff;
  width: 100%;

  nav {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
    background-color: #fff;

    .logo {
      width: 2.25rem;
      height: 2rem;
      margin-bottom: 2.5rem;
    }

    .botonera {

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 2.8rem 0;
        }

        img[alt="dashboard"],
        img[alt="historico-plantas"] {
          width: 1.25rem;
        }

        img[alt="monitoreo-plantas"] {
          width: 1.5rem;
          height: 1rem;
        }

        img[alt="historico-sensores"] {
          width: 1.37rem;
          height: 1.2rem;
        }

        img[alt="logOut"] {
          width: 1.11rem;
          height: 1.12rem;
        }

      }
    }

  }

  .navbar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .menu {
      display: flex;
      align-items: center;

      img {
        width: 1.25rem;
        height: 1.25rem;
      }

      img[alt="ajuste"] {
        margin: 0 1rem;
      }

      img[alt="campanita"] {
        margin-right: 1rem;
      }

      img[alt="rectangulo"], img[alt="menu"]{
        display: none;
      }
    }
  }

  .sobrecontenedor-main {
    display: flex;
    width: 100%;
    padding: 3.5rem 3.5rem;
  }

  .contenedor-main {
    flex: 1;

  }


  .contenedor-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;

  }


}


@media (max-width:430px) {
  .contenedor-principal {
    background-color: #F9F9FA;

    .contenedor-footer{
      display: none;
    }

    nav {
      display: none;
    }

    .sobrecontenedor-main {
      width: 100%;

      .contenedor-main {

        .navbar {

          border-bottom: solid 2px #F3F3F3;

          .menu {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 1rem;

            img[alt="idioma"],
            img[alt="ajuste"] {
              display: none;
            }

            .usuario {
              display: none;
            }

            img[alt="rectangulo"] {
              width: 5rem;
              height: 4rem;
            }

            img[alt="menu"] {
              width: 1.5rem;
              height: 1.5rem;
            }

            img[alt="campanita"] {
              width: 1.8rem;
              height: 1.8rem;
            }

          }

          h1 {
            display: none;
          }

        }

      }

    }

  }
}