<div class="modal">
    <div class="modal-general">
        <div class="modal-contenido">
            <h1>Editar Planta</h1>
            <form [formGroup]="form" (submit)="editPlant(plantResponse!.id)">
                <div class="crear-planta">
                    <div class="contenedor-inputs">
                        <label for="name">Nombre planta</label>
                        <input type="text" id="name" placeholder="Nombre Planta" formControlName="name">
                    </div>
                    <div class="contenedor-inputs">
                        <label for="country">Pais</label>
                        <input type="text" id="country" placeholder="Pais" formControlName="country">
                    </div>
                    <div class="contenedor-inputs">
                        <label for="totalReadings">Cantidad de lecturas</label>
                        <input type="text" id="totalReadings" placeholder="Ingrese" formControlName="totalReadings">
                    </div>
                    <div class="contenedor-inputs">
                        <label for="sensorsDisabled">Sensores deshabilitados</label>
                        <input type="text" id="sensorsDisabled" placeholder="Ingrese" formControlName="sensorsDisabled">
                    </div>
                    <div class="contenedor-inputs">
                        <label for="mediumAlerts">Alertas medias</label>
                        <input type="text" id="mediumAlerts" placeholder="Ingrese" formControlName="mediumAlerts">
                    </div>
                    <div class="contenedor-inputs">
                        <label for="redAlerts">Alertas rojas</label>
                        <input type="text" id="redAlerts" placeholder="Ingrese" formControlName="redAlerts">
                    </div>
                </div>
                <div class="footer">
                    <button class="btn-cancelar" (click)="closeModalEdit()">Cancelar</button>
                    <button class="btn-crear" type="submit" [disabled]="form.invalid">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>