<div class="contenedor-cards">
  <div class="cards">
    <div class="info-cards">
      <p>Lecturas OK</p>
      <h5>{{totalReadings}}</h5>
    </div>
    <img src="../../../../assets/icons/lectura.png" alt="">
  </div>
  <div class="cards">
    <div>
      <p>Alertas medias</p>
      <h5>{{totalMediumAlerts}}</h5>
    </div>
    <img src="../../../../assets/icons/medias.png" alt="">
  </div>
  <div class="cards">
    <div>
      <p>Alertas rojas</p>
      <h5>{{totalRedAlerts}}</h5>
    </div>
    <img src="../../../../assets/icons/alertas-rojas.png" alt="">
  </div>
  <div class="cards">
    <div>
      <p>Sensores deshabilitados</p>
      <h5>{{totalSensorsDisabled}}</h5>
    </div> 
    <img src="../../../../assets/icons/deshabilitadas.png" alt="">
  </div>
</div>