.contenedor-cards{
    display: flex;
    justify-content: space-between;

    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        
        width: 19rem;
        height: 6.8rem;
        padding: 1rem 1.3rem;
        background-color: #FFFFFF;
        margin-bottom: 2rem;
        img{
            width: 4rem;
            height: 4rem;
        }
        p{
            color: #8E8EA1;
            font-size: 0.75rem;
            font-weight: 400;
            margin: 0;
            margin-bottom: 0.3rem;
        }
        h5{
            font-weight: bold;
        }
    }
}